*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
/*@media (min-width: 480px)
@media (min-width: 769px)
@media(min-widt: 1024px)*/

    /*INICIO DEL HEADER*/
    .header{
        background-color: #EAE8E1;
    }

    .titulo-header{
        font-family: 'Dancing Script', cursive;
        color: #a57c5b;
        font-size: 50px;
    }

    /*FIN DEL HEADER*/

    /*-----------------------------------------------------------
    -------------------------------------------------------------
    -------------------------------------------------------------
    -----------------------------------------------------------*/

    /*INCIO DEL NAV*/
    .nav{
        background-color: #d6c9bca2;
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 15px;
    }

    .buscar{
        margin-right: 5px;
    }

    .submenu {
        display: flex;
        justify-content: flex-end;
    }

    .icons {
        margin: 2px;
    }
    /*FIN DEL NAV*/

    /*-----------------------------------------------------------
    -------------------------------------------------------------
    -------------------------------------------------------------
    -----------------------------------------------------------*/

    /*INICIO DEL MAIN DE INDEX*/
    .main-index{
        background-color: #e9b78fb4;
        padding: 20px;
    }

    .img{
        box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    }

    .contenedor{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
    }

    .comentarios {
        box-shadow: rgba(0, 0, 0, 0.16) 3px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .titulo-contenedor {
        font-family: 'Cormorant Garamond', serif;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .comentario{
        font-family:'Lato', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .autor{
        color: rgb(136, 136, 136);
        font-family:'Lato', sans-serif;
        text-align: end;
        font-size: 2px;
    }
    /*FIN DEL MAIN DE INDEX*/
   
   
/*INICIO DEL MAIN DE GALERÍA*/
    .main-galeria{
        background-color: #8adef3d3;
        font-size: 25px;
        font-style: normal;
        font-family: 'Cormorant Garamond';
        text-align: center;
        color: rgb(121, 79, 79);
    }

    .complejo, .pileta, .rios, .paisajes{
        padding: 20px;
    }

    .complejo-foto1, .complejo-foto2, .complejo-foto3, .complejo-foto4{
        height: auto;
        width: auto;
        max-height: 400px;
        max-width: 400px;
        border-radius: 35px;
        box-shadow: 0px 2px 8px 0px black;
    }

    .pileta-foto1, .pileta-foto2{
        border-radius: 35px;
        box-shadow: 0px 2px 8px 0px black;
        column-gap:20px;
    }

    .rios-foto1, .rios-foto2, .rios-foto3{
        object-fit:cover;
        height: auto;
        width: auto;
        max-height: 400px;
        max-width: 400px;
        border-radius: 35px;
        box-shadow: 0px 2px 8px 0px black;
        column-gap:20px;
        
    }

    .paisajes-foto1, .paisajes-foto2 {
        object-fit: cover;
        height: auto;
        width: auto;
        max-height: 500px;
        max-width: 500px;
        border-radius: 35px;
        box-shadow: 0px 2px 8px 0px black;
        column-gap:20px;
    }

    .complejo-foto1, .complejo-foto2, .complejo-foto3, .complejo-foto4, .pileta-foto1, .pileta-foto2, .rios-foto1, .rios-foto2, .rios-foto3, .paisajes-foto1, .paisajes-foto2 {
        height: 400px;
        width: 300px;
        border-radius: 50px;
        box-shadow: 0px 2px 8px 0px black;
        transition: width 2s, height 2s;
        ;
    }

    .complejo-foto1:hover, .complejo-foto2:hover, .complejo-foto3:hover, .complejo-foto4:hover, .pileta-foto1:hover, .pileta-foto2:hover, .rios-foto1:hover, .rios-foto2:hover, .rios-foto3:hover, .paisajes-foto1:hover, .paisajes-foto2:hover{
        height: 500px;
        width: 400px;
        border-radius: 50px;
        box-shadow: 0px 2px 8px 0px black;
    }
    /*FIN DEL MAIN DE GALERÍA*/

    /*-----------------------------------------------------------
    -----------------------------------------------------------*/

        /*INICIO DEL FOOTER*/
        .footer{
            background-color: rgb(236, 226, 226);
            text-align: center;
            font-family: 'Lato', sans-serif;
            font-style: bold;
            height: 10vh;
        }
    
        .social-copyright{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    
        .info-footer{
            padding-top: 15px;
            padding-right: 10px;
        }
    
        .data{
            text-decoration: none;
            color: rgb(177, 143, 99);
        }
        .datos-de-contacto{
            display: flex;
            justify-content: space-evenly;
        }
    
        .copyright {
            display: flex;
            justify-content: space-around;
            align-items: stretch;
        }
        /*FIN DEL FOOTER*/
    
    /*-----------------------------------------------------------
    -------------------------------------------------------------
    -------------------------------------------------------------
    -----------------------------------------------------------*/
    